<div id="wrapper"> 
	<!-- Displays City --> 
	<header>
		<div class="container"> 
			<span id="place">Your City</span> 
		</div> 
	</header>
	
	
	<!-- Form entry --> 
	<section id="zipForm" class="hidden-md hidden-lg">
		<div class="container"> 
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form-inline" id="searchTop">
						<div class="form-group">
							<input type="text" id="location" class="form-control" id="zipcodeInput" placeholder="Enter Zipcode / Postal Code" autocomplete="off"> 
						</div>		
						<button type="submit" class="btn btn-primary form-control">Search</button>				
					</form>
				</div>
			</div>
		</div>	
	</section>

	<!-- Weather Display --> 
	<section id="weatherDisplay"> 	
		<div class="container"> 
			<div class="row">
				<div class="col-md-4"> 
					<div class="thumbnail">
						<div class="caption">
							<h3>Sunrise</h3> 
						</div>
						<i class="wi wi-sunrise weatherIcon" style="color: #FFE802;"></i>
						<div class="caption">
							<h4>Time</h4> 
							<span id="sunrise"> -:-- am</span> 
						</div>  
					</div> 
				</div> 
				<div class="col-md-4"> 
					<div class="thumbnail">
						<div class="caption">
							<h3>Today's Details</h3> 
						</div>
						<i class="wi wi-alien weatherIcon" id="currentWeatherIcon" style="color: #00CCFF;"></i>
						<div class="caption">
							<h4>Temperature</h4> 
							<span id="temperature">--</span>&deg; F
							<h4>Condition</h4> 
							<span id="weather">--</span><br>
							<span>High: <span id="high">--</span> Low: <span id="low">--</span></span> 
						</div>  
					</div>
				</div>
				<div class="col-md-4"> 
					<div class="thumbnail">
						<div class="caption">
							<h3>Sunset</h3> 
						</div>
						<i class="wi wi-sunset weatherIcon" style="color: #FF9900;"></i> 
						<div class="caption">
							<h4>Time</h4> 
							<span id="sunset"> -:-- pm</span> 
						</div> 
					</div>
				</div>
			</div> 
		</div> 
	</section> 

	<!-- Form entry --> 
	<section id="zipForm" class="hidden-xs hidden-sm">
		<div class="container"> 
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form-inline" id="searchBottom">
						<div class="form-group">
							<input type="text" id="locationBottom" class="form-control" id="zipcodeInput" placeholder="Enter Zipcode / Postal Code" autocomplete="off" style="width:250px;"> 
						</div>		
						<button type="submit" class="btn btn-primary form-control">Search</button>				
					</form>
				</div>
			</div>
		</div>	
	</section>

	<!-- Footer  --> 
	<div id="footerSpacing"></div>
	<footer> 
		<div class="container"> 
			<div class="row"> 
				<div class="col-md-12"> 
					<ul class="list-inline social-buttons">
						<li><a href="https://github.com/Jolo510/weathernow" target="_blank">Github</a> 
						<li><a href="https://www.linkedin.com/pub/johnnie-lo/78/6b9/b17" target="_blank">Linkedin</a> 
					</ul>
				</div> 
			</div> 
			<div class="row"> 
				<div class="col-md-12">
					<span class="copyright">Copyright <i class="glyphicon glyphicon-copyright-mark"></i><a href="https://github.com/Jolo510/weathernow"> Weather Now</a> 2015</span> 
				</div> 
			</div> 
		</div> 
	</footer>

<div><!-- #wrapper  --> 
