<div id="wrapper"> 
	<!-- Displays City --> 
	<header>
		<div class="container"> 
			Your City
		</div> 
	</header>

	<!-- Weather Display --> 
	<section id="weatherDisplay"> 	
		<div class="container"> 
			<div class="row">
				<div class="col-md-4"> 
					<div class="thumbnail">
						<div class="caption">
							<h3>Sunrise</h3> 
						</div>
						<img src="/images/cloud.png">
						<div class="caption">
							<h4>Time</h4> 
							<p> -:-- am</p> 
						</div>  
					</div> 
				</div> 
				<div class="col-md-4"> 
					<div class="thumbnail">
						<div class="caption">
							<h3>Todays Details</h3> 
						</div>
						<img src="/images/cloud.png">
						<div class="caption">
							<h4>Temperature</h4> 
							<p>-- &deg; F</p> 
							<h4>Condition</h4> 
							<p>--</p> 
							<p> High: -- Low: --</p> 
						</div>  
					</div>
				</div>
				<div class="col-md-4"> 
					<div class="thumbnail">
						<div class="caption">
							<h3>Sunset</h3> 
						</div>
						<img src="/images/cloud.png"> 
						<div class="caption">
							<h4>Time</h4> 
							<p> -:-- pm</p> 
						</div> 
					</div>
				</div>
			</div> 
		</div> 
	</section> 

	<!-- Form entry --> 
	<section id="zipForm">
		<div class="container"> 
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" id="zipcodeInput" placeholder="Enter Zipcode / Postal Code"> 
						</div>		
						<button type="submit" class="btn btn-primary form-control">Search</button>				
					</form>
				</div>
			</div>
		</div>	
	</section>

	<!-- Footer  --> 
	<footer> 
		<div class="container"> 
			<div class="row"> 
				<div class="col-md-12"> 
					<ul class="list-inline social-buttons">
						<li><a href="https://github.com/Jolo510/weathernow" target="_blank">Github</a> 
						<li><a href="https://www.linkedin.com/pub/johnnie-lo/78/6b9/b17" target="_blank">Linkedin</a> 
					</ul>
				</div> 
			</div> 
			<div class="row"> 
				<div class="col-md-12">
					<span class="copyright">Copyright <i class="glyphicon glyphicon-copyright-mark"></i><a href="https://github.com/Jolo510/weathernow"> Weather Now</a> 2015</span> 
				</div> 
			</div> 
		</div> 
	</footer> 

<div><!-- #wrapper  --> 