html, 
body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#weatherDisplay{
	text-align: center; 
}

header {
	padding-top: 15px;
	padding-bottom: 15px; 
	text-align: center;
	font-size: 4em;
}

#weatherIcon {
	padding: 20px;
	font-size: 10em;
}

#zipForm {
	padding-top: 25px;
	padding-bottom: 25px; 
	text-align: center;
}

@media(min-width: 768px) {
	header {
		padding-bottom: 25px; 
	}

	#zipForm {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

#footerSpacing{
	padding: 50px;
}



footer {
	text-align: center;
	/* Keeps the footer at the bottom of the page */
	padding-top: 50px; 
	width: 100%;
	position: absolute;
	height: 100px; 
	bottom: 0;
	left: 0; 
}